$colour_purple_main: #CA55EF;
$colour_red_main: #EE220C;
$colour_green_main: #61D836;
$colour_yellow_main: #FEAE00;
$colour_blue_main: #00A2FF;
$colour_grey_main: #929292;

$colour_purple_secondary: #fb8fff;
$colour_red_secondary: #FF968D;
$colour_yellow_secondary: #FFD932;
$colour_green_secondary: #88FA4E;
$colour_blue_secondary: #4CDDFE;
$colour_grey_secondary: #D5D5D5;

$colour_background_grey: #FFFFFF;
$colour_background_white: #FFFFFF;

.colourOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.15); /* Change the color and opacity as needed */
  }