@import './_variables';

// Border

.bordermainpurple {
    border-style: solid;
    border-width: 2px;
    border-color: $colour_purple_main;
}

.bordersubpurple {
    border-style: solid;
    border-width: 2px;
    border-color: $colour_purple_secondary;
}

.bordermainblue {
    border-style: solid;
    border-width: 2px;
    border-color: $colour_blue_main;
}

.bordersubblue {
    border-style: solid;
    border-width: 2px;
    border-color: $colour_blue_secondary;
}

.bordermaingreen {
    border-style: solid;
    border-width: 2px;
    border-color: $colour_green_main;
}

.bordersubgreen {
    border-style: solid;
    border-width: 2px;
    border-color: $colour_green_secondary;
}

.bordermainred {
    border-style: solid;
    border-width: 2px;
    border-color: $colour_red_main;
}

.bordersubred {
    border-style: solid;
    border-width: 2px;
    border-color: $colour_red_secondary;
}

.bordermainyellow {
    border-style: solid;
    border-width: 2px;
    border-color: $colour_yellow_main;
}

.bordersubyellow {
    border-style: solid;
    border-width: 2px;
    border-color: $colour_yellow_secondary;
}

.bordermaingrey {
    border-style: solid;
    border-width: 2px;
    border-color: $colour_grey_main;
}

.bordersubgrey {
    border-style: solid;
    border-width: 2px;
    border-color: $colour_grey_secondary;
}

// Structure


.abilityStructure {
    border-radius: 0em 0em 0.4em 0.4em;
    box-shadow: 0 0 5px 1px #CCC;
    width: 100%;
    text-align: justify;
    background-color: $colour_background_grey;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.abilityInternalStructure {
    padding: 1em;
    font-size: 0.85em;
}

.emptyboxStructure {
    width: 100%;
    border-radius: 0.25em;
    padding:20%;
    padding-top: 40%;
    padding-bottom: 40%;
    height: 500%;
}

.popupBody {
    max-width: 20em;
}

.roundBody {
    border-radius: 0.25em;
}