:root {
  --colour_icon_main: #CA55EF;
  --colour_icon_secondary: #fb8fff;

  --colour_stalwart_main: #EE220C;
  --colour_mendicant_main: #61D836;
  --colour_vagabond_main: #FEAE00;
  --colour_wright_main: #00A2FF;

  --colour_stalwart_secondary: #FF968D;
  --colour_mendicant_secondary: #88FA4E;
  --colour_vagabond_secondary: #FFD932;
  --colour_wright_secondary: #4CDDFE;

  --colour_red_main: #EE220C;
  --colour_green_main: #61D836;
  --colour_yellow_main: #FEAE00;
  --colour_blue_main: #00A2FF;

  --colour_red_secondary: #FF968D;
  --colour_green_secondary: #88FA4E;
  --colour_yellow_secondary: #FFD932;
  --colour_blue_secondary: #4CDDFE;

  --colour_grey_main: #929292;
  --colour_grey_secondary: #D5D5D5;

  --colour_offwhite: #fafafa;
  --colour_white: #ffffff;

  --colour_basic_text: #000000;
}

[data-theme='light'] {
  --colour_icon_main: #CA55EF;
  --colour_icon_secondary: #fb8fff;

  --colour_stalwart_main: #EE220C;
  --colour_mendicant_main: #61D836;
  --colour_vagabond_main: #FEAE00;
  --colour_wright_main: #00A2FF;

  --colour_stalwart_secondary: #FF968D;
  --colour_mendicant_secondary: #88FA4E;
  --colour_vagabond_secondary: #FFD932;
  --colour_wright_secondary: #4CDDFE;

  --colour_red_main: #EE220C;
  --colour_green_main: #61D836;
  --colour_yellow_main: #FEAE00;
  --colour_blue_main: #00A2FF;

  --colour_red_secondary: #FF968D;
  --colour_green_secondary: #88FA4E;
  --colour_yellow_secondary: #FFD932;
  --colour_blue_secondary: #4CDDFE;

  --colour_grey_main: #929292;
  --colour_grey_secondary: #D5D5D5;

  --colour_offwhite: #fafafa;
  --colour_white: #ffffff;

  --colour_basic_text: #000000;
}

[data-theme='dark'] {
  --colour_icon_main: #CA55EF;
  --colour_icon_secondary: #6c1a85;

  --colour_stalwart_main: #EE220C;
  --colour_mendicant_main: #61D836;
  --colour_vagabond_main: #FEAE00;
  --colour_wright_main: #00A2FF;

  --colour_stalwart_secondary: #b11200;
  --colour_mendicant_secondary: #3da318;
  --colour_vagabond_secondary: #c78903;
  --colour_wright_secondary: #0073b6;

  --colour_red_main: #EE220C;
  --colour_green_main: #61D836;
  --colour_yellow_main: #FEAE00;
  --colour_blue_main: #00A2FF;

  --colour_red_secondary: #b11200;
  --colour_green_secondary: #3da318;
  --colour_yellow_secondary: #c78903;
  --colour_blue_secondary: #0073b6;

  --colour_offwhite: #0f0f0f;
  --colour_white: #ffffff;
  
  --colour_grey_main: #929292;
  --colour_grey_secondary: #535353;

  --colour_basic_text: #ffffff;

}

.colourOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.15); /* Change the color and opacity as needed */
  }

  .setWhite {
    color: var(--colour_white);
  }
  
  .backgroundBaseColour {
    background-color: var(--colour_offwhite);
    min-height: 100vh;
    height: 100%;
    color: var(--colour_basic_text);
  }


.backgroundicon { background-color: var(--colour_icon_main);  }
.coloricon { color: var(--colour_icon_main);  }
.bordericon { border-color: var(--colour_icon_main) !important; }

.subbackgroundicon { background-color: var(--colour_icon_secondary);  }
.subcoloricon { color: var(--colour_icon_secondary);  }
.subbordericon { border-color: var(--colour_icon_secondary) !important;  }


.backgroundstalwart { background-color: var(--colour_stalwart_main);  }
.colorstalwart { color: var(--colour_stalwart_main);  }
.borderstalwart { border-color: var(--colour_stalwart_main) !important;  }

.subbackgroundstalwart { background-color: var(--colour_stalwart_secondary);  }
.subcolorstalwart { color: var(--colour_stalwart_secondary);  }
.subborderstalwart { border-color: var(--colour_stalwart_secondary) !important;  }


.backgroundmendicant { background-color: var(--colour_mendicant_main);  }
.colormendicant { color: var(--colour_mendicant_main);  }
.bordermendicant { border-color: var(--colour_mendicant_main) !important;  }

.subbackgroundmendicant { background-color: var(--colour_mendicant_secondary);  }
.subcolormendicant { color: var(--colour_mendicant_secondary);  }
.subbordermendicant { border-color: var(--colour_mendicant_secondary) !important;  }


.backgroundvagabond { background-color: var(--colour_vagabond_main);  }
.colorvagabond { color: var(--colour_vagabond_main);  }
.bordervagabond { border-color: var(--colour_vagabond_main) !important;  }

.subbackgroundvagabond { background-color: var(--colour_vagabond_secondary);  }
.subcolorvagabond { color: var(--colour_vagabond_secondary);  }
.subbordervagabond { border-color: var(--colour_vagabond_secondary) !important;  }


.backgroundwright { background-color: var(--colour_wright_main);  }
.colorwright { color: var(--colour_wright_main);  }
.borderwright { border-color: var(--colour_wright_main) !important;  }

.subbackgroundwright { background-color: var(--colour_wright_secondary);  }
.subcolorwright { color: var(--colour_wright_secondary);  }
.subborderwright { border-color: var(--colour_wright_secondary) !important;  }


.backgroundred { background-color: var(--colour_red_main);  }
.colorred { color: var(--colour_red_main);  }
.borderred { border-color: var(--colour_red_main) !important;  }

.subbackgroundred { background-color: var(--colour_red_secondary);  }
.subcolorred { color: var(--colour_red_secondary);  }
.subborderred { border-color: var(--colour_red_secondary) !important;  }


.backgroundgreen { background-color: var(--colour_green_main);  }
.colorgreen { color: var(--colour_green_main);  }
.bordergreen { border-color: var(--colour_green_main) !important;  }

.subbackgroundgreen { background-color: var(--colour_green_secondary);  }
.subcolorgreen { color: var(--colour_green_secondary);  }
.subbordergreen { border-color: var(--colour_green_secondary) !important;  }


.backgroundyellow { background-color: var(--colour_yellow_main);  }
.coloryellow { color: var(--colour_yellow_main);  }
.borderyellow { border-color: var(--colour_yellow_main) !important;  }

.subbackgroundyellow { background-color: var(--colour_yellow_secondary);  }
.subcoloryellow { color: var(--colour_yellow_secondary);  }
.subborderyellow { border-color: var(--colour_yellow_secondary) !important;  }


.backgroundblue { background-color: var(--colour_blue_main);  }
.colorblue { color: var(--colour_blue_main);  }
.borderblue { border-color: var(--colour_blue_main) !important;  }

.subbackgroundblue { background-color: var(--colour_blue_secondary);  }
.subcolorblue { color: var(--colour_blue_secondary);  }
.subborderblue { border-color: var(--colour_blue_secondary) !important;  }


.backgroundgrey { background-color: var(--colour_grey_main);  }
.colorgrey { color: var(--colour_grey_main);  }
.bordergrey { border-color: var(--colour_grey_main) !important;  }

.subbackgroundgrey { background-color: var(--colour_grey_secondary);  }
.subcolorgrey { color: var(--colour_grey_secondary);  }
.subbordergrey { border-color: var(--colour_grey_secondary) !important;  }


