@import './_variables';

.tagText {
    font-weight: bolder;
    color: $colour_grey_main;
}

.titleShape {
    padding: 0%;
    margin: 0%;
    text-align: left;
}

.megatitleShape {
    padding: 0%;
    margin: 0%;
    font-size: 4em;
}

.medtitleShape {
    padding: 0%;
    margin: 0%;
    font-size: 2.5em;
}

.titlepurple {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: $colour_purple_main;
    color: white;
    font-size: 200%;
    font-weight: bolder;
}

.subtitlepurple {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: $colour_purple_secondary;
    color: white;
    font-size: 200%;
    font-weight: bolder;
}

.glossaryPurple {
    color: $colour_purple_main;
    font-weight: bold;
}

.boldtextPurple {   
    font-weight: 650;
    font-size: 1.25em;
}

.titleblue {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: $colour_blue_main;
    color: white;
    font-size: 200%;
    font-weight: bolder;
}

.subtitleblue {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: $colour_blue_secondary;
    color: white;
    font-size: 200%;
    font-weight: bolder;
}

.titlegreen {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: $colour_green_main;
    color: white;
    font-size: 200%;
    font-weight: bolder;
}

.subtitlegreen {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: $colour_green_secondary;
    color: white;
    font-size: 200%;
    font-weight: bolder;
}

.titlered {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: $colour_red_main;
    color: white;
    font-size: 200%;
    font-weight: bolder;
}

.subtitlered {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: $colour_red_secondary;
    color: white;
    font-size: 200%;
    font-weight: bolder;
}

.titleyellow {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: $colour_yellow_main;
    color: white;
    font-size: 200%;
    font-weight: bolder;
}

.subtitleyellow {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: $colour_yellow_secondary;
    color: white;
    font-size: 200%;
    font-weight: bolder;
}

.titlegrey {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: $colour_grey_main;
    color: white;
    font-size: 200%;
    font-weight: bolder;
}

.subtitlegrey {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    margin: 0em;
    border-radius: 0em;
    width: 100%;
    text-align: center;
    background-color: $colour_grey_secondary;
    color: white;
    font-size: 200%;
    font-weight: bolder;
}

.subtletext {
    text-align: center;
    color: $colour_grey_secondary;
    font-size: 200%;
    font-weight: bolder;
}

.hometitle {
    color: $colour_purple_main;
    font-size: 5em;
    font-weight: 1500;
}

.homesubtitle {
    color: $colour_purple_main;
    font-size: 2em;
    font-weight: 1500;
}

.homelink {
    font-weight: 1000;
    text-decoration: none;
    color: $colour_purple_main;
}
.navitemh2 {
    margin-top: 0.4em;
    margin-bottom: 0.5em;
}

.webtitle {
    margin-top: 0em;
    margin-bottom: 0em;
    color: $colour_purple_main;
    font-size: 3em;

}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: $colour_grey_secondary;
    font-weight: bolder;
    font-size: 2em;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid $colour_grey_secondary;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .itemlisttext {

    font-size: 125%;
    text-align: left;
  }

  .softpad {
    padding: 0.25em !important
  }

  .subltenotetext {
    text-align: center;
    color: $colour_grey_secondary;
    font-size: 0.9em;
  }

  .headertext {
    color: white;
    font-weight: 700;
    font-size: 1.5em;
  }

  .headersubtext {
    color: white;
    font-size: 1em;
    font-weight: 400;
  }