@import './_variables';

.addonbox {
    padding: 1rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.no-margin
{
  margin: 0px !important;
}

.no-padding
{
    padding: 0px !important;
}

.verticalspacer {
    
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.verticalspacerbig {
    
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.tagBox {
    display: flex;
    flex-wrap: wrap;
}

.tagItem {
    padding-right: 1rem;
    margin: 0rem;
}

.abilityAddonPosition {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-left: 1rem;
}

.centerPosition {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.topPosition {
    display: flex;
    align-items: start;
}

.jobFeaturePosition {
    display: flex;
    padding: 0%;
    margin: 0%;
}

.jobFeature {
    width: 50%;
    padding:2%;
}

.classFeature {
    padding: 1rem;
}

.classjobFeature {
    margin: 10rem;
}

.listitemsmallgap {
    margin: -0.75rem; 
    padding: 0rem;
}

.listulsmallgap {
    margin-top: 0rem;
}

.halfwise {
    width: 45%;
}

.classwise {
    width: 100%;
}

.widthPT {
    padding: 1rem;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.widthPN {
    padding: 1rem;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.baseCleanStructure {
    border-radius: 1rem;
    padding-bottom:0.01%;
    text-align: justify;
}

.padSmall {
    margin-bottom: 1rem;
}

.lowpad {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.searchinput {
    border-radius: 1rem;
    margin: 1rem;
    width: 100%;
    padding: 0.5rem;
}

.searchbondinput {
    border-radius: 1rem;
    margin: 1rem;
    width: 10%;
    padding: 0.5rem;
}

.searchinputrelic {
    border-radius: 1rem;
    margin: 1rem;
    width: 60%;
    padding: 0.5rem;
}

.searchinputreliclevel {
    border-radius: 1rem;
    margin: 1em 0em 1em 0rem;
    width: 20%;
    padding: 0.5rem;
}

.searchinputabilitymastery {
    border-radius: 1rem;
    margin: 1em 0em 1em 1rem;
    width: 20%;
    padding: 0.5rem;
}

.searchinputpower {
    border-radius: 1rem;
    margin: 1em 0em 1em 1rem;
    padding-left: 1rem;
    width: 80%;
    padding: 0.5rem;
}

.searchinputbox {
    margin: 0em 0em 0em 1rem;
}

.paddedSearchTitle {
    padding-left: 1rem;
    width: 30%;
}

.paddedSearchNarTitle {
    padding-left: 1rem;
    margin-right: 0.75rem;
    width: 30%;
}

.paddedSearchLevel {
    padding-left: 1rem;
    width: 30%;
    text-align: center;
}

.nakedpad {
    margin: 0.1rem;
}

.navpad {
    padding-left: 1%;
    padding-right: 1%;
}

.toppad {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tagboxpad {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.webtitlediv {
    display: flex;
    padding-right: 1rem;
    align-content: start;
}

.searchinputnav {
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.25rem;
    margin-left: 0rem;
}

.searchpad {
    margin-left: 1rem;
}

.shorten {
    max-width: 4rem;
}

.tagpad {
    margin-left: 0.5rem;
}

.modalwide {
    width: 75vw ;
    max-width: 75vw;
    min-width: 75vw;
}

