$colour_purple_main: #CA55EF;
$colour_red_main: #EE220C;
$colour_green_main: #61D836;
$colour_yellow_main: #FEAE00;
$colour_blue_main: #00A2FF;
$colour_grey_main: #929292;

$colour_purple_secondary: #fb8fff;
$colour_red_secondary: #FF968D;
$colour_yellow_secondary: #FFD932;
$colour_green_secondary: #88FA4E;
$colour_blue_secondary: #4CDDFE;
$colour_grey_secondary: #D5D5D5;

.hometitle {
    color: $colour_purple_main;
    font-size: 5em;
    font-weight: 1500;
}

.homesubtitle {
    color: $colour_purple_main;
    font-size: 2em;
    font-weight: 1500;
}



.homeParagraphStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 45em;
    padding: 2em;
    text-align: justify;
    margin-top: -2em;


    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.rulesParagraphStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 60em;
    padding: 1em;
    padding-bottom:0.01%;
    text-align: justify;


    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}


.homelink {
    font-weight: 1000;
    text-decoration: none;
    color: $colour_purple_main;
}