$colour_purple_main: #CA55EF;
$colour_red_main: #EE220C;
$colour_green_main: #61D836;
$colour_yellow_main: #FEAE00;
$colour_blue_main: #00A2FF;
$colour_grey_main: #929292;

$colour_purple_secondary: #fb8fff;
$colour_red_secondary: #FF968D;
$colour_yellow_secondary: #FFD932;
$colour_green_secondary: #88FA4E;
$colour_blue_secondary: #4CDDFE;
$colour_grey_secondary: #D5D5D5;

// Text Content -------------------------------------

.navitemh2 {
    margin-top: 0.4em;
    margin-bottom: 0.5em;
}

.webtitle {
    margin-top: 0em;
    margin-bottom: 0em;
    color: $colour_purple_main;
    font-size: 3em;

}

// Body Style ---------------------------------------

.basenavitemStructure {
    border-radius: 0.75em;
    box-shadow: 0 0 5px 1px $colour_purple_secondary;
    background-color: $colour_purple_main;
    color: white;
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;


    &:hover {
        box-shadow: 0 0 10px 2px $colour_purple_secondary;
    }
}

.basenavStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    padding: 1em;
    text-align: justify;
    width: fit-content;
    display: flex;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

// Spacing -------------------------------------------

.navpad {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.webtitlediv {
    display: flex;
    padding-right: 1em;
    align-content: start;
}

.searchinputnav {
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 0.25em;
    margin-left: 0em;
}

.searchpad {
    margin-left: 1em;
}