// Basic Shape and Structure -----------------------------------

.baseStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    padding: 1em;
    padding-bottom:0.01%;
    text-align: justify;
    width: 100%;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.basesearchStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    padding: 1em;
    text-align: justify;
    width: 100%;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.basesearchitemStructure {
    border-radius: 0.75em;
    box-shadow: 0 0 5px 1px #bd89ac;
    background-color: rgb(182, 0, 182);
    color: white;
    text-align: justify;
    width: 100%;

    &:hover {
        box-shadow: 0 0 10px 2px #bd89ac;
    }
}

.basesearchlightStructure {
    border-radius: 0.75em;
    box-shadow: 0 0 5px 1px #bd89ac;
    background-color: rgb(219, 9, 219);
    color: white;
    text-align: justify;
    width: 100%;

    &:hover {
        box-shadow: 0 0 10px 2px #bd89ac;
    }
}

.baseCleanStructure {
    border-radius: 1em;
    padding-bottom:0.01%;
    text-align: justify;
}
// -------------------------------------------------------------


// Colours -----------------------------------------------------

// -------------------------------------------------------------


// Grid Layout -------------------------------------------------

.pagecontainer {
    display: grid;
    width: 100%;
    justify-content: space-evenly; 
    grid-template-columns: 55% 45%;
    padding: 1em;
}

.jobfeaturecontainer {
    display: grid;
    justify-content: space-evenly; 
    grid-template-columns: 50% 50%;
    padding: 1em;
}

.reliccontainer {
    display: grid;
    justify-content: space-evenly; 
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 33%)
}

.abilitycontainer {
    display: grid;
    justify-content: space-evenly; 
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 50%)
}

.searchContainer {
    display: grid;
    justify-content: space-evenly; 
    grid-template-columns: 20% 40% 40%;
    padding: 1em;
}

.searchSubContainer {
    display: grid;
    justify-content: space-evenly; 
    grid-template-rows: 100% 100%;
    grid-template-columns: 100%;
    width: 100%;
}

.searchsubsubcontainer {
    display: grid;
    justify-content: space-evenly; 
    grid-template-columns: 50% 50%;
    width: 100%;
}

.searchitemscontainer {
    display: flex;
    flex-wrap: wrap;    
}


// -------------------------------------------------------------


// Grid Items --------------------------------------------------


.pageitema { 
    padding:0.5em;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.pageitemb { 
    padding:0.5em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.relicgriditem {
    margin: 0.5em;
    justify-self: center;
}

.abilitygriditem {
    margin: 0.5em;
    justify-self: center;
}

.searchgriditem {
    width: 95%;
    justify-self: center;
}

.levelgriditem {
    margin-right: 0.5em;
    margin-top: 1em;
}

.searchgridbutton {
    margin-left: 0.5em;
    margin-top: 1em;
}

.jobgriditem {
    width: 103%;
    padding: 0em;
}

.searchinput {
    border-radius: 1em;
    margin: 1em;
    width: 100%;
    padding: 0.5em;
}

.searchinputrelic {
    border-radius: 1em;
    margin: 1em;
    width: 60%;
    padding: 0.5em;
}

.searchinputreliclevel {
    border-radius: 1em;
    margin: 1em 0em 1em 0em;
    width: 20%;
    padding: 0.5em;
}

.searchinputabilitymastery {
    border-radius: 1em;
    margin: 1em 0em 1em 1em;
    width: 20%;
    padding: 0.5em;
}

.paddedSearchTitle {
    padding-left: 1em;
    width: 30%;
}

.paddedSearchLevel {
    padding-left: 1em;
    width: 30%;
    text-align: center;
}

.nakedpad {
    margin: 0.1em;
}

.paddedSearchAdd {
    margin: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    border-radius: 1em;
    box-shadow: 0 0 5px 0px #fff;
    background-color: rgb(219, 9, 219);
    &:hover {
        box-shadow: 0 0 5px 2px #fff;
    }
}
// -------------------------------------------------------------