$colour_purple_main: #CA55EF;
$colour_red_main: #EE220C;
$colour_green_main: #61D836;
$colour_yellow_main: #FEAE00;
$colour_blue_main: #00A2FF;
$colour_grey_main: #929292;

$colour_purple_secondary: #fb8fff;
$colour_red_secondary: #FF968D;
$colour_yellow_secondary: #FFD932;
$colour_green_secondary: #88FA4E;
$colour_blue_secondary: #4CDDFE;
$colour_grey_secondary: #D5D5D5;

// Basic Shape and Structure -----------------------

.summonStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 25em;
    padding: 1em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.relicStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 25em;
    padding: 1em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.abilityStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 25em;
    padding: 1em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.ruleStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 25em;
    padding: 1em;
    padding-bottom: 0.25em;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.powerStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 25em;
    padding: 1em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.campStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 35em;
    padding: 1em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.campupgradeStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 100%;
    padding: 1em;
    padding-bottom:0.5em;
    margin-top: 1em;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.bondStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 35em;
    padding: 1em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.bonustraitStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 50%;
    padding: 1em;
    padding-bottom:0.01%;
    padding-top:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.ruleSubStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 100%;
    padding: 1em;
    margin: 0.5em;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.jobStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 45em;
    padding: 2em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.classStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 100%;
    padding: 2em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.classjobStructure {
    max-width: 75%;
}

.statsStructure {
    p {
        margin: 0.25em;
        margin-left: 0em;
      }
}

.addonStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 25em;
    padding: 1em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.titleShape {
    padding: 0%;
    margin: 0%;
    text-align: left;
}

.megatitleShape {
    padding: 0%;
    margin: 0%;
    font-size: 4em;
}

.medtitleShape {
    padding: 0%;
    margin: 0%;
    font-size: 2.5em;
}
// -------------------------------------------------

// Colour Base -------------------------------------
.titlePurple {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: $colour_purple_main;
    color: white;
}

.subtitlePurple {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: $colour_purple_secondary;
    color: white;
}

.boldtextPurple {   
    font-weight: 650;
    font-size: 1.25em;
}

.titleblue {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: $colour_blue_main;
    color: white;
}

.subtitleblue {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: $colour_blue_secondary;
    color: white;
}

.titlegreen {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: $colour_green_main;
    color: white;
}

.subtitlegreen {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: $colour_green_secondary;
    color: white;
}

.titlered {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: $colour_red_main;
    color: white;
}

.subtitlered {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: $colour_red_secondary;
    color: white;
}

.titleyellow {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: $colour_yellow_main;
    color: white;
}

.subtitleyellow {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: $colour_yellow_secondary;
    color: white;
}

// -------------------------------------------------

// Component positioning ---------------------------


.abilityAddonPosition {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-left: 1em;
}

.centerPosition {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.topPosition {
    display: flex;
    align-items: start;
}

// Grid Containers ------------------------------

.jobcontainer {
    display: grid;
    justify-content: space-evenly; 
    grid-template-columns: 50% 50%;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 1em;
}

.bondfullcontainer {
    width: 90%;
    display: grid;
    justify-content: space-evenly; 
    grid-template-columns: 40% 60%;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 1em;
}

.abilityContainer { 
    display: grid;
    justify-content: space-evenly; 
    grid-template-columns: 50% 50%;
    grid-auto-flow: row; 
}

.classContainer { 
    display: grid;
    justify-content: space-evenly; 
    grid-template-columns: 50% 50%;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1em;
}

// Grid Items ----------------------------------

.gridItem {
    margin: 0.5em;
}

.gridItemPower {
    margin: 0.5em;
    min-width: 25em;
}

.gridItemRule {
    margin: 0.5em;
    min-width: 25em;
    max-width: 25em;
}

.jobitema { 
    padding:0.5em;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.jobitemb { 
    padding:0.5em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.gridjobItem { 
    width: 100%;
    display: grid; 
    place-items: center;
}

.gridjoblistItem {
    max-width: 50%;
    padding: 0.5em;
}

// Spacing ----------------------------------

.jobFeaturePosition {
    display: flex;
    padding: 0%;
    margin: 0%;
}

.jobFeature {
    width: 50%;
    padding:2%;
}

.classFeature {
    padding: 1em;
}

.classjobFeature {
    margin: 10em;
}

.listitemsmallgap {
    margin: -0.75em; 
    padding: 0em;
}

.listulsmallgap {
    margin-top: 0em;
}

.halfwise {
    width: 45%;
}

.classwise {
    width: 100%;
}

.widthPT {
    padding: 1em;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.widthPN {
    padding: 1em;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
// -------------------------------------------------

// Display -----------------------------------------
.hidden-text { 
    display: none; 
  } 
   
.show-text:hover .hidden-text { 
display: block; 
} 