// Basic Shape and Structure -----------------------

.summonStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 25em;
    padding: 1em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.gridItem {
    margin: 0.5em;
}

.relicStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 25em;
    padding: 1em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.abilityStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 25em;
    padding: 1em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.bonustraitStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 50%;
    padding: 1em;
    padding-bottom:0.01%;
    padding-top:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.jobStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 45em;
    padding: 2em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.classStructure {
    border-radius: 1em;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 75%;
    padding: 2em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.classjobStructure {
    max-width: 75%;
}

.statsStructure {
    p {
        margin: 0.25em;
        margin-left: 0em;
      }
}

.addonStructure {
    border-radius: 1em;
    opacity: 0.8;
    box-shadow: 0 0 5px 1px #CCC;
    max-width: 25em;
    padding: 1em;
    padding-bottom:0.01%;
    text-align: justify;

    &:hover {
        box-shadow: 0 0 10px 2px #CCC;
    }
}

.titleShape {
    padding: 0%;
    margin: 0%;
    text-align: left;
}

.megatitleShape {
    padding: 0%;
    margin: 0%;
    font-size: 4em;
}

.medtitleShape {
    padding: 0%;
    margin: 0%;
    font-size: 2.5em;
}
// -------------------------------------------------

// Colour Base -------------------------------------
.titleblue {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: blue;
    color: white;
}

.subtitleblue {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: rgb(0, 255, 255);
    color: white;
}

.titlegreen {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: green;
    color: white;
}

.subtitlegreen {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: rgb(0, 255, 21);
    color: white;
}

.titlered {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: red;
    color: white;
}

.subtitlered {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: rgb(255, 81, 81);
    color: white;
}

.titleyellow {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: yellow;
    color: white;
}

.subtitleyellow {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.15em;
    width: fit-content;
    background-color: rgb(252, 255, 74);
    color: white;
}

// -------------------------------------------------

// Component positioning ---------------------------
.jobcontainer {
    display: grid;
    justify-content: space-evenly; 
    grid-template-columns: 50% 50%;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 1em;
}

.abilityContainer { 
    display: grid;
    justify-content: space-evenly; 
    grid-template-columns: 50% 50%;
    grid-auto-flow: row;
    
}

.classContainer { 
    display: grid;
    justify-content: space-evenly; 
    grid-template-columns: 50% 50%;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1em;
}

.jobitema { 
    padding:0.5em;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.jobitemb { 
    padding:0.5em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.abilityAddonPosition {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-left: 1em;
}

.centerPosition {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.gridjobItem { 
    width: 100%;
    display: grid; 
    place-items: center;
}

.jobFeaturePosition {
    display: flex;
    padding: 0%;
    margin: 0%;
}

.jobFeature {
    width: 50%;
    padding:2%;
}

.classFeature {
    padding: 1em;
}

.classjobFeature {
    margin: 10em;
}
// -------------------------------------------------